$background: #191919;
$text: #e4dedb;
$nav-active: #ff9b0a;
$nav-inactive: #b24d25;

body {
    background-color: $background;
    color: $text;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

nav a {
    text-align: center;
    margin: 0.5em 5%;
    font-size: 32px;
    color: $nav-inactive;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

nav a:hover {
    color: $nav-active;
}

.current_page {
    color: $nav-active;
}

#twitter {
    height: 35px;
    width: 40px;
    background-size: 100% 100%;
    background-image: url('../../assets/images/orange-twitter-inactive.svg');
}

#twitter:hover {
    background-image: url('../../assets/images/orange-twitter-active.svg');
}

#linkedin {
    height: 35px;
    width: 40px;
    background-size: 100% 100%;
    background-image: url('../../assets/images/orange-linkedin-inactive.svg');
}

#linkedin:hover {
    background-image: url('../../assets/images/orange-linkedin-active.svg');
}

h1, h2, p, ul, li {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    font-style: italic;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
}

p {
    font-size: 16px;
    font-weight: 300;
}

#me-cover {
    max-width: 100%;
    max-height: 400px;
    background-position: center;
    background-image: url('../../assets/images/me-cover.jpg');
}

#title-img {
    margin-top: 25px;
    max-width: 300px;
}

ul {
    padding: 0;
}

.post-list, .project-list {
    list-style-type: none;
}

body a {
    color: $nav-inactive;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

body a:hover {
    color: $nav-active;
}

@keyframes dumb {
    0%   {color: #D62900;}
    20%  {color: #FF9B55;}
    40%  {color: #FFFFFF;}
    60%  {color: #D461A6;}
    80%  {color: #A50062;}
    100% {color: #D62900;}  
}

#stuff {
    color: #D62900;
    animation-name: dumb;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}