<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://theclone.github.io/" />
    <meta property="og:image" content="../../assets/images/me-cover.jpg" />
    <meta property="og:description" content="{{ page.blurb }}" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Roboto:ital,wght@0,300;1,300;1,400&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}
    {{ content }}
  </body>
</html>